body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .header-extended{
      background-color: #003882;
      color: white;
      margin-top: 0.5px;
      padding-bottom: 15px;
      padding-top: 20px;
  }

  .bio-col{
    text-align: justify !important;
    padding-left: 10px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #003882;
 }
  
 
  footer {
    background-color: #003882;
    padding-top: 20px;
    color: white;
  }
 
  footer ul {
    list-style: none;
    padding-left: 0;
  }
  footer a {
    text-decoration: none;
    color: white;
  }
  footer a:hover {
      color: white;
      text-decoration: none;
  }
  .footer-copyright {
    background-color: #003882 ;
    padding: 30px 0 10px 0;
    font-size: small;
    align-content: flex-start;
  }

  